!assets/.gitignore
!protected/runtime/.gitignore
protected/data/*.db
.idea/
/assets/
protected/commands/
protected/messages/
protected/migrations/
protected/runtime/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
protected/vendor/
/themes/
protected/config/database.php
protected/config/constant.php
web.config
/showpictemp/
data/common.inc.php
data/cache/
data/tplcache
images/allimg/